@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
	background-color: white;
}


.loginform {
    margin-top:10%;
    text-align:center;
}

.loginform-holder {
    padding:80px;
}

#loginlogo {
   margin-top:16px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;


}
.form {
	width:100%;
}
#usernameid {
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}

#passwordid {
	text-align:center;
	margin-top:8px;
	font-family: 'Open Sans', sans-serif;
}

#submitid {
    margin-top: 8px;
    border: black solid 0;
    background-color:black;
    color:white;
    padding:12px;
    font-family: 'Open Sans', sans-serif;
    width:200px;
}

.createaccount {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}

#createaccountid {
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;

}

.errorbox {
	height:auto;
	width:100%;
	padding-bottom:50px;
}
.error {
    text-align:center;
    height:30px;
    width:100%;
    font-family: 'Open Sans', sans-serif;
}