.wrapper {
	height:100%;
	width:100%;
	}
	
footer {
	
}

.footer-links {
	display:block;
	color:black;
	font-size:8px;
	padding:5px;
	text-decoration:overline;
	text-align:center;
}
#copy {
	font-size:8px;
}